.profile-page {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: left;
}

.profile-page h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 60px;
}

.profile-content {
    display: flex;
    align-items: center;

}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.profile-row {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.profile-row strong {
    width: 150px;
}

.profile-row span {
    flex: 1;
    font-size: 18px;
    margin: 0;
}

.profile-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details {
    width: 100%;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile-row input {
    width: 60%;
}

.profile-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-left: 50px;
}