.calendar {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 30px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    position: relative; /* Ensure it stays in place */
}

.rbc-event-clicked {
    background-color: #3174ad !important; /* Change to desired color */
}

.rbc-calendar {
    font-family: 'Arial', sans-serif;
    border-radius: 0; /* Remove border radius */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    background: transparent; /* Make background transparent */
}

.rbc-event {
    cursor: pointer;
    background-color: #265985;
    color: white;
    border: none;
    border-radius: 0;
    opacity: 0.8;
    transition: background-color 0.3s ease;
}

.rbc-event:hover {
    background-color: #b2ebf2;
}

.rbc-toolbar {
    background-color: transparent; /* Make toolbar background transparent */
    border-bottom: 1px solid #ddd;
    border-radius: 0; /* Remove border radius */
    padding: 10px;
}

.rbc-toolbar button {
    background: #00acc1;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
}

.rbc-toolbar button:hover {
    background: #007c91;
}